<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/styles/catalog.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="index.html"><img src="../resources/img/logo.jpeg" alt="logo" id="logo"></a>
        <div class="header-auth">Nombre Medico</div>
    </header>
    <div class="content">
        <div class="catalog-background">
            <div class="catalog-controls">
                <a href="createRecord.html" id="create">Crear Registro</a>
                <textarea name="searchbar" id="searchbar"></textarea>
                <a href="" id="searchbar-button">Buscar</a>
            </div>
            <hr>
            <div class="catalog-list">
                <div class="catalog-info">Formato: Paciente | Medico | Fecha</div>
                <ul>
                    <li><div class="record-info">123</div><a href="" class="record-control">Ver Registro</a></li>
                    <li><div class="record-info">456</div><a href="" class="record-control">Ver Registro</a></li>
                    <li><div class="record-info">789</div><a href="" class="record-control">Ver Registro</a></li>
                    <li><div class="record-info">789</div><a href="" class="record-control">Ver Registro</a></li>
                    <li><div class="record-info">789</div><a href="" class="record-control">Ver Registro</a></li>
                    <li><div class="record-info">789</div><a href="" class="record-control">Ver Registro</a></li>
                    <li><div class="record-info">789</div><a href="" class="record-control">Ver Registro</a></li>
                    <li><div class="record-info">789</div><a href="" class="record-control">Ver Registro</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</body>
</html>