<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/styles/createRecord.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="index.html"><img src="../resources/img/logo.jpeg" alt="logo" id="logo"></a>
        <div class="header-auth">Nombre Medico</div>
    </header>
    <div class="content">
        <div class="catalog-background">
           <div class = "column-left">
                <div>Nuevo Registro</div>
                <hr>
                <div>Apellidos del Paciente</div>
                <textarea name="" id=""></textarea>
                <div>Nombres del Paciente</div>
                <textarea name="" id=""></textarea>
                <div>Historia Clinica</div>
                <textarea name="" id=""></textarea>
                <div>Anexo Imagenes</div>
                <textarea name="" id=""></textarea>
                <div>Observaciones</div>
                <textarea name="" id="" placeholder="Opcional"></textarea>
           </div>
           <div class="column-right">
				<div class="container-image">
					a
				</div>
				<div class="button-create">
					<a href="catalog.html" id="submitrecord">Guardar</a>
					<a href="catalog.html" id="cancelrecord">Cancelar</a>
				</div>
           </div>
           
        </div>
    </div>
</body>
</html>