<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/styles/createRecord.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="index.html"><img src="../resources/img/logo.jpeg" alt="logo" id="logo"></a>
        <div class="header-auth">Nombre Medico</div>
    </header>
    <div class="content">
        <div class="catalog-background">
           <div class = "column-left">
                <div>Nuevo Registro</div>
                <div></div>
                <textarea name="" id=""></textarea>
                <textarea name="" id=""></textarea>
                <textarea name="" id=""></textarea>
                <textarea name="" id=""></textarea>
                <textarea name="" id=""></textarea>
           </div>
           <div class="column-right">dsa</div>
           
        </div>
    </div>
</body>
</html>