<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/styles/style.css">
    <title>Document</title>
</head>
<body>
    <div class="content-container">
        <div class = "logo-container">
            <img src="../resources/img/logo.jpeg" alt="logo" id="logo">
        </div>
        <div class="text-container">Bienvenido a NefroImagen</div>
        <a href="patientLogin.html" class = "button">Paciente</a>
        <a href="medicLogin.html" class = "button">Medico</a>
    </div>
</body>
</html>