<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/styles/medicLogin.css">
    <title>Document</title>
</head>
<body>
    <div class="content-container">
        <div class = "logo-container">
            <a href="index.html"><img src="../resources/img/logo.jpeg" alt="logo" id="logo"></a>
        </div>
        <div class="input-container">
            <input name="user" id="user" placeholder="Usuario" type="text"></textarea>
            <input name="password" id="password" placeholder="Contraseña" type="password"></textarea>
        </div>
       
        <a href="catalog.html" class = "button">Ingresar</a>
    </div>
</body>
</html>