link(rel='stylesheet', type='text/css', href='css/404style.css')
.number 401
.text
    br
    span Oh oh...
    br
    <br>No tienes autorizacion para acceder a esta pagina.
|
|
a.me(href='https://codepen.io/uzcho_/pens/popular/?grid_type=list' target='_blank')
