link(rel='stylesheet', type='text/css', href='css/404style.css')
.number 404
.text
    br
    span Oh oh...
    br
    <br>No hemos encontrado la pagina que buscas.
|
|
a.me(href='https://codepen.io/uzcho_/pens/popular/?grid_type=list' target='_blank')
