doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    title Document
  body
    .content-container
      .logo-container
        img#logo(src="/images/logo.jpeg", alt="logo")
      .text-container Bienvenido a NefroImagen
      a.button(href="/patientlogin") Paciente
      a.button(href="/mediclogin") Medico
