doctype html
html
  head
    title Imagenes diagnosticas y nefrlogia
    meta(charset="utf-8")
    meta(name="robots", content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="home/assets/css/main.css")
  body
    // Header
    header#header
      .inner
        a.logo(href="index.html") Theory
        nav#nav
          a(href="index.html") Home
          a(href="generic.html") Generic
          a(href="elements.html") Elements
        a.navPanelToggle(href="#navPanel")
          span.fa.fa-bars
    // Banner
    section#banner
      h1 IMAGENES DIAGNOSTICAS Y NEFROLOGIA
      p Servicio de radiologia y nefrologia de alta calidad hecho por especialistas.
    // One
    section#one.wrapper
      .inner
        .flex.flex-3
          article
            header
              h3 Magna tempus sed amet
                br
                | aliquam veroeros
            p Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.
            footer
              a.button.special(href="#") More
          article
            header
              h3 Interdum lorem pulvinar
                br
                | adipiscing vitae
            p Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.
            footer
              a.button.special(href="#") More
          article
            header
              h3 Libero purus magna sapien
                br
                | sed ullamcorper
            p Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.
            footer
              a.button.special(href="#") More
    // Two
    section#two.wrapper.style1.special
      .inner
        header
          h2 Ipsum Feugiat
          p Semper suscipit posuere apede
        .flex.flex-4
          .box.person
            .image.round
              img(src="home/images/pic03.jpg", alt="Person 1", width="168", height="168")
            h3 Magna
            p Cipdum dolor
          .box.person
            .image.round
              img(src="home/images/pic04.jpg", alt="Person 2", width="168", height="168")
            h3 Ipsum
            p Vestibulum comm
          .box.person
            .image.round
              img(src="home/images/pic05.jpg", alt="Person 3", width="168", height="168")
            h3 Tempus
            p Fusce pellentes
          .box.person
            .image.round
              img(src="home/images/pic06.jpg", alt="Person 4", width="168", height="168")
            h3 Dolore
            p Praesent placer
    // Three
    section#three.wrapper.special
      .inner
        header.align-center
          h2 Contactanos
          p Agrega tus datos personales para ponernos en contacto. 
        .flex.flex-2
          article
            form(action="/contact" method="post")
               label(for="email") Email / Correo Electronico
               input#email(type="email")
               label(for="cellphone") Numero de telefono
               input#cellphone(type="text")
               label(for="names") Nombre y apellido
               input#names(type="text")
               label(for="issue") Asunto o sugerencia
               input#issue(type="text")
               input#submitbutton(type="submit" value="Enviar")
          article
            .image.fit
              img(src="home/images/pic02.jpg", alt="Pic 02", width="576", height="196")
            header
              h3 Fusce pellentesque tempus
            p Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.
            footer
              a.button.special(href="#") More
    // Footer
    footer#footer
      .inner
        .flex
          ul.icons
            li
              a.icon.fa-facebook(href="#")
                span.label Facebook
            li
              a.icon.fa-twitter(href="#")
                span.label Twitter
            li
              a.icon.fa-linkedin(href="#")
                span.label linkedIn
            li
              a.icon.fa-pinterest-p(href="#")
                span.label Pinterest
            li
              a.icon.fa-vimeo(href="#")
                span.label Vimeo
    .copyright
      | Site made with:
      a(href="https://templated.co/") TEMPLATED.CO
    // Scripts
    script(src="home/assets/js/jquery.min.js")
    script(src="home/assets/js/skel.min.js")
    script(src="home/assets/js/util.js")
    script(src="home/assets/js/main.js")
