head
  link(rel='stylesheet' href='css/catalogstyles.css')
ol(style='--length: 5' role='list')
  li(style='--i: 1')
    h3 Discovery and assessment
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing diam donec adipiscing tristique risus.
  li(style='--i: 2')
    h3 Information gathering and analysis
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing diam donec adipiscing tristique risus.
  li(style='--i: 3')
    h3 Creating your claim
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing diam donec adipiscing tristique risus.
  li(style='--i: 4')
    h3 Approvals and submission
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing diam donec adipiscing tristique risus.
  li(style='--i: 5')
    h3 Receiving your benefit
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing diam donec adipiscing tristique risus.
